.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.form button {
  margin: 20px auto;
  width: 100px;
}
