.header {
  min-height: 70px;
  border-bottom: 1px solid black;
}
.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;

  padding: 5px 20px;
}

.headerLink {
  display: flex;
  gap: 30px;
}

.headerReg {
  display: flex;
  gap: 30px;
}
